main > .container {
    padding: 1px 0;
}

body{
    background: linear-gradient(to bottom,rgb(109, 2, 2),rgb(73, 70, 70));
}

.myForm{
    max-width: 25em;
    padding: 1.3em;
    margin: 0 auto;
    background-color: rgbas(120,119,123, 0.3);
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(0,0,0,0.85);
}